.page-register {
  width: 100%;
  height: 100%;
  background-color: var(--secondaryBright-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.card-register {
  margin: 20px;
  padding: 20px;
  min-width: 50%;
  min-height: 30%;
}
