.nav-item {
  width: 80px;
  height: 80px;
  /* background: linear-gradient(360deg, var(--primary-color) 13%, var(--primaryBright-color) 50%); */
  border-radius: 10px 0px 0px 10px;
  border-width: 0px 3px 0px 0px;
  border-color: var(--primaryDarkest-color);
  border-style: dashed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-item-overlay {
  position: absolute;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'thaisans_neuesemi_bold';
  font-size: 40px;
  opacity: 100%;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  color: white;
  background-color: white;
  opacity: 20%;
  border: white double 10px;
}
@media only screen and (max-width: 500px) {
  .nav-item {
    border-radius: 10px 10px 0px 0px;
    border-width: 0px 0px 3px 0px;
  }
}
.nav-item-active {
  background-color: var(--primary-color);
  border-width: 0px;
}
